<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'turmaApp/bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'turmaApp/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'turmaApp/style.css' %}" />
        <script type="text/javascript" src="/static/turmaApp/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/turmaApp/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>

        <div >
            <h1 class="texto_rodape"> Sistema de gerencia de turmas escolares. Todos os direitos reservados. </h1>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    </body>


</html>
